In [1]:
from collections import namedtuple
import bisect
import random
from array import array
from collections import deque

In [2]:
'''
introduce:
    list comprehension
    generator expression
    tuple
    slice
    list.sort&sorted
    bisect
    array
    deque
'''

'\nintroduce:\n    list comprehension\n    generator expression\n    tuple\n    slice\n    list.sort&sorted\n    bisect\n    array\n    deque\n'

## generator expression

In [5]:
colors = ['black', 'white']
sizes = ['s', 'm', 'l']
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black s
black m
black l
white s
white m
white l

## tuple unstack

In [6]:
print(divmod(20, 8))

(2, 4)

In [7]:
t = (20, 8)
print(divmod(*t))

(2, 4)

In [8]:
a, b, *rest = range(5)
print(a, b, rest)

0 1 [2, 3, 4]

In [9]:
metro_ares = [
    ('tokyo', 'jp', 36.933, (35.689, 139.691)),
    ('sao paulo', 'br', 19.649, (-23.547, -46.635)),
]

for name, cc, pop, (latitude, longtitude) in metro_ares:
    print('{:15} | {:9.4f} | {:9.4f}'.format(name, latitude, longtitude))

tokyo           |   35.6890 |  139.6910
sao paulo       |  -23.5470 |  -46.6350

In [10]:
for name, cc, pop, (latitude, longtitude) in metro_ares:
    print('{:15} | {:9.4f} | {:9.4f}'.format(name, latitude, longtitude))

tokyo           |   35.6890 |  139.6910
sao paulo       |  -23.5470 |  -46.6350

## named tuple

In [11]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'jp', 36, (35.689, 139.691))
print(tokyo)
print(tokyo.coordinates)
print(City._fields)
print(tokyo._asdict())

City(name='Tokyo', country='jp', population=36, coordinates=(35.689, 139.691))
(35.689, 139.691)
('name', 'country', 'population', 'coordinates')
OrderedDict([('name', 'Tokyo'), ('country', 'jp'), ('population', 36), ('coordinates', (35.689, 139.691))])

-    tuple as fixed list
-    tuple can not add/eliminate element
-    tuple can not reverse

## slice on object

In [12]:
file = open('chap2.txt')
text = file.read()
name = slice(0, 8)
num = slice(10, 12)
line_item = text.split('\n')[:]
for item in line_item:
    print(item[name], item[num])

richard  98
liu      97
xiaoming 90

## other slice operations

In [13]:
test = list(range(10))
test[1:6] = [100]
print(test)
print(test * 2)

[0, 100, 6, 7, 8, 9]
[0, 100, 6, 7, 8, 9, 0, 100, 6, 7, 8, 9]

## wrong way to initiate a list in list

In [14]:
board = [[0] * 3] * 3
print(board)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

## right way

In [15]:
board = [[0] * 3 for i in range(3)]
print(board)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

## increment on slice
increment will create a new object if it operate on immutable object

In [16]:
t = (1, 2, 3)
print(id(t))
t *= 2
print(id(t))

140563362708288
140563532569768

## list.sort returns none,cause it is sorted locally(do not create a new object)

In [17]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
print(sorted(fruits))
print(sorted(fruits, reverse=True))
print(sorted(fruits, key=len))
fruits.sort()
print(fruits)

['apple', 'banana', 'grape', 'raspberry']
['raspberry', 'grape', 'banana', 'apple']
['grape', 'apple', 'banana', 'raspberry']
['apple', 'banana', 'grape', 'raspberry']

## bisect(haystack,needle) divide haystack into pieces based on the needles

In [18]:
def grade(score, breakpoints=[60, 70, 80, 90], grade='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grade[i]


print([grade(score) for score in [33, 99, 77, 70, 89, 98, 100]])

['F', 'A', 'C', 'C', 'B', 'A', 'A']

## use bisect.insort to assure the sorted list is still sortable after insertion

In [19]:
floats = array('d', (random.random() for _ in range(10 ** 3)))
print(floats[1])
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()
floats2 = array('d')
fp = open('floats.bin', 'rb')
floats2.fromfile(fp, 10 ** 3)
fp.close()
print(floats2[1])

0.9571801768273447
0.9571801768273447

## use deque to safely add and delete elements on both ends of a list

In [20]:
dq = deque(range(10), maxlen=10)
print(dq)
dq.rotate(3)
print(dq)
dq.appendleft(-100)
print(dq)
dq.extend([10, 20, 30])
print(dq)
dq.extendleft([-1, -2, -3])
print(dq)

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], maxlen=10)
deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6], maxlen=10)
deque([-100, 7, 8, 9, 0, 1, 2, 3, 4, 5], maxlen=10)
deque([9, 0, 1, 2, 3, 4, 5, 10, 20, 30], maxlen=10)
deque([-3, -2, -1, 9, 0, 1, 2, 3, 4, 5], maxlen=10)